.hero-scrollable {
  width: 70vw;
  overflow-y: auto;
  background-color: var(--background);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
}

.hero-scrollable-heading {
  position: sticky;
  top: 0;
  background-color: var(--background);
  z-index: 10;
  padding-bottom: 20px;
  transition: transform 0.2s ease-out;
}

.hero-scrollable-heading h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  color: var(--text-color);
}

.hero-scrollable-heading p {
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
  color: var(--text-color);
}

.hero-scrollable-content {
  padding-bottom: 100px;
}

.hero-scrollable-content p {
  margin-bottom: 1rem;
  line-height: 1.6;
  color: var(--text-color);
}

.hero-scrollable-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

#hero-scrollable-first {
  height: 100vh;
}

#hero-scrollable-second {
  height: 100vh;
}

.hero-scrollable-first-title {
  display: flex;
  flex-direction: column;
}

.hero-scrollable-section div {
  flex: 1;
  align-items: center;
  display: flex;
  justify-content: center;
}

#hero-scrollable-first h2 {
  margin-bottom: 0.5rem;
  color: var(--primary-color);
  font-weight: 400;
  font-size: 1.625rem;
  line-height: 1.23;
  text-transform: none;
  letter-spacing: 0em;
}

#hero-scrollable-first a {
  margin-top: 40px;
  color: var(--primary-color);
  cursor: pointer;
}

.hero-scrollable-image {
  width: 100%;
}

.hero-scrollable-section h2 {
  font-family: var(--font-title);
  font-weight: 200;
  line-height: 1.2;
  text-transform: none;
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  padding: 40px;
  color: var(--text-color);
}

.hero-scrollable-section-qa {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 20px;
}

.hero-scrollable-section-question {
  font-weight: bold !important;
  color: var(--text-color);
}

.hero-scrollable-section-answer {
  font-family: var(--font-title);
  line-height: 1.2;
  text-transform: none;
  font-size: 1.5rem;
  color: var(--text-color);
}

.hero-scrollable-section p {
  font-size: 1.1rem;
  width: 70%;
  font-weight: 500;
  color: var(--text-color);
}

.hero-scrollable-hotel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 20px;
}
#hero-scrollable-fourth ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  list-style: none;
  padding: 16;
  margin: 0;
}

#hero-scrollable-fourth li {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px;
  background-color: var(--white);
}

#hero-scrollable-fourth h3 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  color: var(--text-color);
}

.hero-scrollable-hotel-address {
  font-size: 0.9rem !important;
  text-align: center;
  color: var(--text-color);
  margin-bottom: 0.5rem;
}

.hero-scrollable-hotel-description {
  font-size: 0.9rem !important;
  text-align: center;
  width: 100%;
  font-weight: 500;
  color: var(--text-color);
}

.hero-scrollable-hotel-image-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 300px;
  height: auto;
  margin-bottom: 20px;
  padding: 16px;
  /* shadow */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

.hero-scrollable-hotel-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-bottom: 16px;
  border-radius: 10px;
}

.button {
  background-color: var(--accent-color);
  color: var(--white);
  font-weight: 700;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  width: "100%";
  cursor: pointer;
  font-size: 1rem;
}

.button:hover {
  background-color: var(--accent-color-hover);
  color: var(--text-color-hover);
  transition: background-color 0.3s ease;
}
